<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit" style="padding: 10px; text-align: center">
                Copyright &copy; 2017. All Rights Reserved <a href="http://acm.xju.edu.cn/" target="_blank">新疆大学软件学院</a> admin <a href="mailto:binjie09@outlook.com">陈彬杰</a>

            </p>
        </div>
    </nav>
</div>