<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">作业自助管理平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="/shangchuan/<%= xuehao %>">上传</a></li>
                <% if (xuehao == "123456") { %>
                <li><a href="/admin/">管理</a></li>
                <% } %>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if (!islogin){ %>
                <li>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2">学号</label>
                            <input type="xuehao" class="form-control" id="xuehao" placeholder="学号">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">密码</label>
                            <input type="password" class="form-control" id="mima" placeholder="密码">
                        </div>
                        <button id="denglu" type="button" class="btn btn-default">登陆</button>
                    </form>
                </li>
                <% } %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= username %> <span class="caret"></span></a>
                    <% if (islogin){ %>
                    <ul class="dropdown-menu">
                        <li><a href="/homework/<%= xuehao %>">查看作业</a></li>
                        <li><a href="/usercenter/<%= xuehao %>">个人中心</a></li>
                        <li><a href="#">私信</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">注销登录</a></li>
                    </ul>
                    <% } %>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>