<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>作业自助管理平台</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fullcalendar.css">
    <link rel="stylesheet" href="css/fullcalendar.print.css" media='print'>
    <style type="text/css">
        body {
            background: #ffffff;

        }



        .row h4{
            text-align: center;
        }
    </style>
</head>
<body>
<% include header.ejs %>

<% if(islogin) { %>
<div class="container-fluid">
    <div class="row">
        <div class="alert alert-info" role="alert">
            <p>作业1：软件工程 可行性研究报告V1.0 截止时间：2017/10/21 周六 22:00</p>
        </div>
    </div>
    <div class="content">
        <div class="row-fluid">
            <div class="span12">
                <div class="box">
                    <div class="box-head">
                        <h3>作业时间表</h3>
                    </div>
                    <div class="box-content box-nomargin">
                        <div class="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>
    <div class="container-fluid">

        <div class="row">
            <% for(var i = 0;i < albums.length; i++) { %>
            <div class="col-xs-6 col-md-3">
                <a href="./<%=albums[i] %>" class="thumbnail">
                    <img src="./images/wjj.jpg" alt="...">
                </a>
                <h4><%=albums[i] %></h4>
            </div>
            <% } %>
        </div>

    </div>


<% include footer.ejs %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/fullcalendar.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript">
    $("#denglu").click(function () {
        $.post("/checklogin",{
            "xuehao" : $("#xuehao").val(),
            "mima" : $("#mima").val()

        },function (res) {
            if(res == "1"){

                window.location.href = "http://218.195.250.2";
            }else {
                alert("登陆失败");
            }
        });
    });
</script>

</body>
</html>