<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>作业自助管理平台</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .row h4{
            text-align: center;
        }
    </style>
</head>
<body>
<% include header.ejs %>
<div class="container-fluid">
<div class="col-xs-2"></div>
<div class="form-group col-xs-8">
<form action="/doshangchuan" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="music_file">作业文件</label>
       <!-- <input type="file" id="zuoye" name="zuoye" class="btn btn-inf"> -->
        <p class="help-block">5-7班的<%= username %>你好，作业提交已经全部截止，你没有需要提交的作业.</p>
    </div>
    <div class="form-group">
        <label for="dtp_input3" class="col-md-2 control-label">额外备注：</label>
        <div class="input-group   col-md-5"   >
            <textarea id="zuoyeyaoqiu" name="zuoyeyaoqiu"  class="form-control" rows="7"></textarea>
        </div>
    </div>
    <!-- <button id="tijiao" type="submit" class="btn btn-success">点击提交作业</button> -->
</form>
</div>
</div>
<% include footer.ejs %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("#denglu").click(function () {
        $.post("/checklogin",{
            "xuehao" : $("#xuehao").val(),
            "mima" : $("#mima").val()

        },function (res) {
            if(res == "1"){

                window.location.href = "http://218.195.250.2";
            }else {
                alert("登陆失败");
            }
        });
    });
</script>
</body>
</html>